<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402197539522-cvd3j8s4v58deprec4dfrshr51pq63q2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402197539522-cvd3j8s4v58deprec4dfrshr51pq63q2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>402197539522-2rst8e8tn5bhl2ar9gt88e6hc2ukkknv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9HTGmeXSlhwATYpagJiUZDOOlrqZTxdI</string>
	<key>GCM_SENDER_ID</key>
	<string>402197539522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeWorkout</string>
	<key>PROJECT_ID</key>
	<string>homeworkout-7fe50</string>
	<key>STORAGE_BUCKET</key>
	<string>homeworkout-7fe50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402197539522:ios:e8c2f6b220d9267638295b</string>
	<key>DATABASE_URL</key>
	<string>https://homeworkout-7fe50-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>